* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.cardWrapper {
  width: 78vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.coinCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin-card {
  background-color: transparent;
  width: 160px;
  height: 200px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.coin-img {
  padding: 1em;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
}


.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
}

.flip-card-front {
  background: whitesmoke;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.flip-card-front:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.coin-link {
  text-decoration: none;
}


/* sidebar */


.Sidebar {
  height: 100vh;
  width: 21.1vw;
  min-width: 21.1vw;
  background-color: #2F4050;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .SidebarRow {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  font-family: Roboto;
  color: white;
}

.SidebarList .SidebarRow:hover {
  cursor: pointer;
  background-color: #293846;
}

.SidebarList #active {
  background-color: #293846;
}

.SidebarRow {
  justify-content: space-between;
}

.SidebarRow #SidebarIcon {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.SidebarRow #SidebarTitle {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2F4050;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 60px;
}

.logout:hover {
  cursor: pointer;
  background-color: #293846;
}

/* chat page */

.main-chat {
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #343541;
  color: white;

}

.chat-p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  padding: 10px;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-form {
  display: flex;
  justify-content: flex-end;
  /* position: relative; */
  width: 100%;
  max-width: 650px;
}

.chat-input {
  width: 67vw;
  color: white;
  font-size: 18px;
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow:
    rgba(0,0,0, 0.05) 0 4px 6px,
    rgba(0,0,0, 0.05) 0 12px 3px,
    rgba(0,0,0, 0.05) 0 -3px 5px;
  /* margin-top: 200px; */
  position: absolute;
  bottom: 70px;
  left: 25vw;
}

.chat-input:focus{
  outline: none;
}

.chat-submit {
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  color: white;
  cursor: pointer;
  height: 46px;
  border-radius: 5px;
  width: 47px;
  box-shadow:
    rgba(0,0,0, 0.05) 0 4px 6px,
    rgba(0,0,0, 0.05) 0 12px 3px,
    rgba(0,0,0, 0.05) 0 -3px 5px;
  position: absolute;
  right: 2em;
  bottom: 70px;
}

.feed {
  width: 60vw;
  height: 40vh;
  overflow: scroll;
  padding: 20px;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.feed::-webkit-scrollbar {
  width: .7em;
}

.feed::-webkit-scrollbar-thumb {
  background-color: rgb(124, 124, 124);
  border-radius: 5px;
  outline: 2px solid whitesmoke;
  height: 1em;
}

.feed-li {
  list-style-type: none;
}

.main-chat h1 {
  font-size: 45px;
  margin-top: 20px;
}

/* show page */

.show-containter {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: red;
}

/* register */

.main-register {
  height: 100vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  border: 2px solid whitesmoke;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.register-form label {
  position: relative;
}

.register-form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.register-form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.register-form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.register-form label .input:focus + span,.register-form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.register-form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/* Market */

.market-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.market-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 20px;
  align-items: center;
  border: 1px solid rgb(227, 227, 227);
  padding: 4px;
  border-radius: 4px;
  width: 60vw;
  margin: .3em;
}

.market-container:hover {
  background-color: rgb(211, 211, 211);
  color: white;
}

.market-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.market-img {
  width: 30px;
  height: 30px;
}

.market-title {
  text-align: center;
  margin: 10px;
}

.market-span {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 0;
}

.market-symbol {
  font-size: .8em;
  color: grey;
}

.link-wrapper {
  color: inherit;
  text-decoration: none;
}
